* {
        box-sizing: border-box;
    font-family: 'Trebuchet MS', '微軟正黑體';
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 50vh;
    background-image: url(https://picsum.photos/id/416/1980/1080);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 150px 30px;
    font-size: 100px;
    background-attachment: fixed;
    color: aliceblue;
}

#welcome {
    padding: 2% 15%;
    justify-content: center;
    text-align:left;
    font-size: 20px;
}

div section {
    float: left;
    width: calc(100%/2);
    padding: 15px;
}
figure img {
    float: left;
    width: 30%;
}